<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>date=%date level=%level thread=%thread ns=%logger message=%msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.zaxxer.hikari.HikariDataSource" level="OFF" />
  <logger name="utility-belt.sql.component.connection-pool" level="OFF" />

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
